<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">
        <h1>Recuperar</h1>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
                <label>Email</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary btn-lg" >Recuperar</button>
            </div>
            <a routerLink="/login">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>