<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">
        <h1>Login</h1>
        <form (ngSubmit)="login()" [formGroup]="loginUsuario">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
                <label>Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <label>Password</label>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" >Ingresar</button>
            </div>
            <p class="mt-3">No tienes cuenta? <a routerLink="/registrar-usuario">Registrar</a></p>
            <a class="mt-3" routerLink="/recuperar-password">Recuperar Contraseña</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>